.card-view
  .container-card
    .card-no-item
      display flex
      flex-direction column
      align-items center

    .list-group-cart-item
      .list-group-cart-item-heading
        background: #f7f7f7;
        font-size 12px
        text-transform uppercase
        margin-bottom 0
        width 100%
      .cart-product
        display block
        float left
        width 50%
      .cart-price
        display block
        float left
        width 15%
      .cart-count
        display block
        float left
        width 20%
      .cart-prices
        display block
        float left
        width 15%

      .list-group-cart-all-item-body
        max-height 200px
        overflow auto
        .line-separate-item
          border-bottom 1px dotted #cccccc
        .list-group-cart-item-body
          width 100%
          .cart-product
            .detail-item-card
              box-shadow none
              .button-remove-item
                max-width 120px
