/* css for search */

my-search:focus
  outline-color transparent

.search-wrapper
  background-color transparent
  position: relative;
  padding: 10px;
  font-size 20px
  width: auto;
  .button-search
    font-size 20px

.search-wrapper:focus
  outline 0
  outline-color transparent

.close-icon
  z-index 2
  position: absolute;
  color: black;
  border: 1px solid transparent;
  background-color transparent
  display: inline-block;
  right: 16px;
  top: 12px;
  vertical-align: middle;
  cursor: pointer;

.close-icon:focus
  outline 0
  outline-color transparent

.my-color-icon
  color: #3F51B5

.input-container-search
  padding 0

.input-container-search .md-input
  color $light-primary


//md-input-container:not(.md-input-invalid).input-container-search .md-input
//  border-color white
