.upload-app .ng-gallery-content > img {
  position: absolute;
  max-height: 70%;
  max-width: 60%;
}
.upload-app .ng-gallery-content {
  position: absolute;
}
.upload-app .ng-overlay {
  position: absolute;
}
