<div spinner-loading="vm.cache.spinnerLoading" class="upload-app">
  <div>
    <my-alert type="vm.alert.type"
              show="vm.alert.show"
              msg="vm.alert.msg"
      ></my-alert>
  </div>
  <div>
    <input type="file" name="photos" multiple onchange="angular.element(this).scope().fileNameChanged(this)"/>
    <br/>
    <a class="btn btn-primary"
       ng-click="vm.fileNameChanged()" button-spinner="vm.cache.buttonLoading" ng-disabled="vm.cache.buttonLoading">Upload</a>
  </div>
  <br/>
  <div class="padding-8px">
    <md-input-container class="width-100-percent" ng-show="vm.cache.currentPhoto.id">
      <label>Url Photo</label>
      <input ng-model="vm.cache.currentPhoto.urlPhoto" ng-disabled="true">
    </md-input-container>
    <div ng-repeat="photo in vm.photoList track by $index">
      <img class="ng-thumb" src="images/thumbs/{{photo.name}}" ng-click="vm.selectedPhoto(photo)"
           ng-class="{'selected-photo': photo.id === vm.cache.currentPhoto.id}">
    </div>
  </div>
</div>