<div class="android-more-section blog-content">
  <div ng-if="vm.events.length > 0">
    <div style="max-height: 305px">
      <uib-carousel active="vm.active" interval="vm.myInterval" no-wrap="vm.noWrapSlides">
        <uib-slide ng-repeat="slide in vm.events track by slide.id" index="slide.index"
          ng-click="vm.showProductOfEvent(slide.products)">
          <img ng-src="{{slide.imageUrl}}" style="margin:auto; max-height: 300px">
          <div class="carousel-caption">
            <p>{{slide.description}}</p>
          </div>
        </uib-slide>
      </uib-carousel>
    </div>
  </div>

  <br/>

  <div>
    <div class="android-section-title mdl-typography--display-1-color-contrast">Sản Phẩm</div>
    <my-widget-text class="android-card-container mdl-grid" data="vm.productList"></my-widget-text>

    <div class="pagination-box" ng-if="vm.defaultValue.bigTotalItems > vm.defaultValue.numberItemOfPage">
      <uib-pagination total-items="vm.defaultValue.bigTotalItems" ng-model="vm.defaultValue.currentPage" max-size="vm.defaultValue.maxPageSize"
                      items-per-page="vm.defaultValue.numberItemOfPage" ng-change="vm.changePage(vm.defaultValue.currentPage)"
                      class="pagination-sm" boundary-links="true" force-ellipses="true">
      </uib-pagination>
    </div>
  </div>
</div>
