<div>
  <md-content layout-padding>
    <form name="actionProductForm">
      <md-input-container class="md-block">
        <label>Name Product</label>
        <input md-maxlength="30" required name="name" ng-model="vm.currentProduct.name">
        <div ng-messages="actionProductForm.name.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Price</label>
        <input required name="price" ng-model="vm.currentProduct.price" type="number">
        <div ng-messages="actionProductForm.price.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Description</label>
        <input name="description" ng-model="vm.currentProduct.description">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Rate</label>
        <input name="rate" ng-model="vm.currentProduct.rate">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Quantity</label>
        <input required name="quantity" ng-model="vm.currentProduct.quantity" type="number" step="1">
        <div ng-messages="actionProductForm.quantity.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Category</label>
        <md-select name="category" ng-model="vm.currentProduct.category" required>
          <md-option value="1">One</md-option>
          <md-option value="2">Two</md-option>
        </md-select>
        <div class="errors" ng-messages="actionProductForm.category.$error" ng-if="actionProductForm.$dirty">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Image Url</label>
        <input required name="imageUrl" ng-model="vm.currentProduct.imageUrl">
        <div ng-messages="actionProductForm.imageUrl.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <div class="box-choose-and-upload-image">
        <label>Image Source</label>
        <input type="file" name="imageSource" file-model="vm.myFile"
               image-with-preview ng-model="vm.imageSource"
               accept="image/jpeg,image/png" class="btn btn-primary"
               dimensions=""
            >
        <span class="error-text" ng-show="actionProductForm.imageSource.$error.imageSource">
          Not a JPEG or a PNG!
        </span>
        <span class="error-text" ng-show="actionProductForm.imageSource.$error.dimensions">
          Image height should be smaller than 400!
        </span>
        <div ng-show="vm.imageSource.src">
          <img ng-src="{{vm.imageSource.src}}" class="show-image-preview"/>
          <md-button class="md-raised md-primary" ng-click="vm.uploadImageToServer(vm.myFile)">Upload</md-button>
        </div>
      </div>
    </form>

    <div class="pull-right">
      <md-button class="md-raised md-primary" ng-disabled="!actionCategoryForm.$valid"
                 ng-click="vm.addProduct(vm.currentCategory)"
                 ng-if="vm.cache.currentView.name === 'add'"
        >
        Add
      </md-button>
      <md-button class="md-raised md-primary" ng-disabled="!actionCategoryForm.$valid"
                 ng-click="vm.updateProduct(vm.currentCategory)"
                 ng-if="vm.cache.currentView.name === 'edit'"
        >
        Update
      </md-button>
      <md-button class="md-raised" ng-click="vm.backToTableView()">Cancer</md-button>
    </div>
  </md-content>
</div>


<!--<form id="uploadForm"-->
      <!--enctype="multipart/form-data"-->
      <!--action="https://myweb-backend-huy-gct.c9users.io/file/uploadImage"-->
      <!--method="post">-->
  <!--<input type="file" name="uploadFile" />-->
  <!--<input type="submit" value="submit"/>-->
<!--</form>-->