<div class="product-manager-view">
  <div class="action-button">
    <md-button class="md-primary" ng-click="vm.goToAddProductView()">Add Product</md-button>
    <md-button class="md-primary" ng-click="vm.goToEditProductView()" ng-disabled="vm.selectedProduct.length !== 1">Edit</md-button>
  </div>
  <div class="table-content">
    <mdt-table table-card="{visible: true, title: 'Products'}"

               selectable-rows="true"
               alternate-headers="'contextual'"

               selected-row-callback="vm.selectedRowCallback(rows)"
               sortable-columns="true"
               paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}"

               delete-function="vm.selectedRowCallback(rows)"
      >
      <mdt-header-row>
        <mdt-column align-rule="left">Name Product</mdt-column>
        <mdt-column align-rule="right">Price</mdt-column>
        <mdt-column align-rule="right">Image</mdt-column>
        <mdt-column align-rule="right">Description</mdt-column>
        <mdt-column align-rule="right">Rate</mdt-column>
        <mdt-column align-rule="right">Quantity</mdt-column>
        <mdt-column align-rule="right">Category</mdt-column>
      </mdt-header-row>
      <mdt-row ng-repeat="item in vm.productList" table-row-id="item">
        <mdt-cell>{{item.name}}</mdt-cell>
        <mdt-cell>{{item.price}}</mdt-cell>
        <mdt-cell>{{item.imageUrl}}</mdt-cell>
        <mdt-cell>{{item.description}}</mdt-cell>
        <mdt-cell>{{item.rate}}</mdt-cell>
        <mdt-cell>{{item.quantity}}</mdt-cell>
        <mdt-cell>{{item.category}}</mdt-cell>
      </mdt-row>
    </mdt-table>
  </div>
</div>