<div class="product-manager-view" spinner-loading="vm.cache.spinnerLoading">
  <div class="action-button">
    <md-button class="md-primary" ng-click="vm.goToAddProductView()">Add Product</md-button>
    <md-button class="md-primary" ng-click="vm.goToEditProductView()" ng-disabled="vm.selectedProduct.length !== 1">Edit</md-button>
    <md-button class="md-primary" ng-click="vm.showDetailProduct($event)" ng-disabled="vm.selectedProduct.length !== 1">Show Detail</md-button>
  </div>
  <div class="table-content">
    <mdt-table table-card="{visible: true, title: 'Products'}"

               selectable-rows="true"
               alternate-headers="'contextual'"

               selected-row-callback="vm.selectedRowCallback(rows)"
               sortable-columns="true"
               paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}"
               mdt-row-paginator="vm.paginatorCallback(page, pageSize)"
               mdt-row-paginator-error-message="Error happened during loading category list."

               delete-row-callback="vm.deleteRowCallback(rows)"

               mdt-row="{
                'table-row-id-key': 'id',
                'column-keys': [
                  'name',
                  'price',
                  'rate',
                  'quantity',
                  'category.name'
                ]
               }"
      >
      <mdt-header-row>
        <mdt-column align-rule="left">Name Product</mdt-column>
        <mdt-column align-rule="left">Price</mdt-column>
        <mdt-column align-rule="left">Rate</mdt-column>
        <mdt-column align-rule="left">Quantity</mdt-column>
        <mdt-column align-rule="left">Category</mdt-column>
      </mdt-header-row>
    </mdt-table>
  </div>
</div>