.product-view
  .image-card
    max-width 400px

  .right-side-product-view
    .real-price
      font-size: 18px;
      text-decoration line-through
      color #999
    .save-money
      font-size: 18px;
      font-weight bold
      color #000000
