<div class="android-more-section carddemoInCardActions product-view" ng-cloak="">

  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs="" flex-gt-xs="50" layout="column" class="image-card left-side-product-view">
      <md-card>
        <img ng-src="{{vm.currentProduct.imageUrl}}" class="md-card-image" alt="Washed Out">
      </md-card>
      <div ng-if="vm.galleries.length > 0">
        <ng-gallery images="vm.galleries"></ng-gallery>
      </div>
    </div>
    <div flex-xs="" flex-gt-xs layout="column" class="right-side-product-view">
      <md-card>
        <md-card-content>
          <md-card-title>
            <md-card-title-text class="margin-bottom-16">
              <p class="margin-bottom-16">
                <span class="md-headline">{{vm.currentProduct.name}}</span>
                <em ng-if="vm.currentProduct.quantity > 0" class="md-subhead">(còn hàng)</em>
                <em ng-if="vm.currentProduct.quantity <= 0" class="md-subhead">(hết hàng)</em>
              </p>
              <div class="margin-bottom-16" ng-if="vm.currentProduct.sale > 0">
                <p class="md-headline text-red-color">Giá bán: {{vm.currentProduct.sale.formatMoney(0, '.', ',')}}</p>
                <p class="md-headline real-price">Giá thị trường: {{vm.currentProduct.price.formatMoney(0, '.', ',')}}</p>
                <span class="save-money">Tiết kiệm: {{(vm.currentProduct.price - vm.currentProduct.sale).formatMoney(0, '.', ',')}}</span>
              </div>
              <div class="margin-bottom-16" ng-if="!(vm.currentProduct.sale > 0)">
                <p class="md-headline text-red-color">Giá bán: {{vm.currentProduct.price.formatMoney(0, '.', ',')}}</p>
              </div>
            </md-card-title-text>
          </md-card-title>
          <hr/>
          <md-card-actions layout="row" layout-align="start center">
            <!--<select class="form-control choose-number-will-buy" ng-model="vm.quantity" ng-options="opt for opt in vm.number"></select>-->
            <div class="panel-body quantity-session">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="pull-left padding-8px">Số lượng:</label>
                  <div class="pull-left padding-left-right-8 padding-bottom-8px">
                    <input type="number" class="form-control max-width-100" ng-model="vm.currentProduct.quantityWillBuy" min="1" max="vm.currentProduct.quantity">
                  </div>
                  <div class="pull-left">
                    <md-button class="md-primary" aria-label="mua hang" ng-click="vm.openYourCard(vm.currentProduct)">
                      <i class="fa fa-cart-plus"></i>
                      <span>Cho vào giỏ hàng</span>
                    </md-button>
                  </div>
                </div>
                </div>
            </div>
          </md-card-actions>

          <hr/>
          <div ng-bind-html="vm.currentProduct.shortDescription"></div>

        </md-card-content>
      </md-card>
    </div>

    <!--<div flex-xs="" flex-gt-xs="30" layout="column" class="right side-product-view">-->
      <!--<md-card >-->
        <!--<md-card-content>-->
          <!--<md-card-title>-->
            <!--<md-card-title-text class="margin-bottom-16">-->
              <!--<p class="margin-bottom-16">-->
                <!--<span class="md-headline">{{vm.currentProduct.name}}</span>-->
                <!--<span class="md-subhead">(còn hàng)</span>-->
              <!--</p>-->
              <!--<p class="margin-bottom-16">-->
                <!--<span class="md-headline text-red-color">{{vm.currentProduct.price}}</span>-->
                <!--<span class="md-subhead">(Giảm 30%)</span>-->
              <!--</p>-->
            <!--</md-card-title-text>-->
          <!--</md-card-title>-->
          <!--<md-card-actions layout="row" layout-align="start center">-->
            <!--<md-button class="md-primary" aria-label="Use Android">-->
              <!--<i class="fa fa-cart-plus"></i>-->
              <!--Cho vào giỏ hàng-->
            <!--</md-button>-->
          <!--</md-card-actions>-->
        <!--</md-card-content>-->
      <!--</md-card>-->
    <!--</div>-->

  </md-content>
  <br/>
  <md-content class="md-padding">
    <div ng-bind-html="vm.currentProduct.description"></div>
  </md-content>
  <br/>
  <md-content class="md-padding">
    <div class="event-of-web" ng-if="vm.productsByCategoryId.length > 1">
      <title-box title="vm.productsByCategoryId[0].category.name"></title-box>
      <my-widget-text class="android-card-container mdl-grid" data="vm.productsByCategoryId"></my-widget-text>
    </div>
  </md-content>

</div>
