<div spinner-loading="$root.spinnerLoading" class="mdl-layout mdl-js-layout mdl-layout--fixed-header user-app">

  <div class="android-header mdl-layout__header mdl-layout__header--waterfall height-header-app">
    <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <img class="android-logo-image" src="{{::vm.logoUrl}}" ng-click="vm.goToHomePage()">
          </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="android-header-spacer mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable top-40-px" style="padding: 28px 12px">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search">
          <label class="mdl-textfield__label" for="search">Enter your query...</label>
        </div>
      </div>
      <div class="material-icons mdl-badge mdl-badge--overlap top-40-px" data-badge="{{vm.getNumberProductInCart()}}" ng-click="vm.openYourCard()">
        <i class="material-icons">shopping_cart</i>
      </div>
      <md-button md-no-ink class="md-primary top-40-px" ng-click="vm.loginApp()" ng-if="!$root.currentUser">
        <i class="fa fa-sign-in"></i>
        Đăng nhập
      </md-button>
      <md-menu md-position-mode="target-right target" class="user-name-menu top-40-px" ng-if="$root.currentUser">
        <md-button aria-label="Open user interactions menu" class="md-primary button-user-name text-transform-none" ng-click="vm.openMenu($mdOpenMenu, $event)">
          <i class="fa fa-smile-o" aria-hidden="true"></i>
          {{$root.currentUser.user.name}}
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="vm.inforAccount()">
              Tài khoản
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button ng-click="vm.logout($root.currentUser.user)">
              Thoát
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <!-- Navigation -->
      <!--<div class="android-navigation-container">-->
      <!--<nav class="android-navigation mdl-navigation">-->
      <!--<a class="mdl-navigation__link mdl-typography&#45;&#45;text-uppercase" href="">Phones</a>-->
      <!--<a class="mdl-navigation__link mdl-typography&#45;&#45;text-uppercase" href="">Tablets</a>-->
      <!--<a class="mdl-navigation__link mdl-typography&#45;&#45;text-uppercase" href="">Wear</a>-->
      <!--<a class="mdl-navigation__link mdl-typography&#45;&#45;text-uppercase" href="">TV</a>-->
      <!--<a class="mdl-navigation__link mdl-typography&#45;&#45;text-uppercase" href="">Auto</a>-->
      <!--<a class="mdl-navigation__link mdl-typography&#45;&#45;text-uppercase" href="">One</a>-->
      <!--<a class="mdl-navigation__link mdl-typography&#45;&#45;text-uppercase" href="">Play</a>-->
      <!--</nav>-->
      <!--</div>-->
          <span class="android-mobile-title mdl-layout-title" >
            <img class="android-logo-image" src="{{::vm.logoUrl}}" ng-click="vm.goToHomePage()">
          </span>
    </div>
  </div>

  <div class="android-content mdl-layout__content" style="z-index: auto">
    <a name="top"></a>

    <div ui-view layout="row" flex class="content-app" id="web-cay-canh-bon-bon-welcome"></div>

    <footer class="android-footer mdl-mega-footer">
      <div class="mdl-mega-footer--top-section">
        <div class="mdl-mega-footer--left-section">
          <button class="mdl-mega-footer--social-btn"></button>
          &nbsp;
          <button class="mdl-mega-footer--social-btn"></button>
          &nbsp;
          <button class="mdl-mega-footer--social-btn"></button>
        </div>
        <div class="mdl-mega-footer--right-section">
          <a class="mdl-typography--font-light" href="" ng-click="vm.goToTop()">
            Back to Top
            <i class="material-icons">expand_less</i>
          </a>
        </div>
      </div>

      <div class="mdl-mega-footer--middle-section">
        <p class="mdl-typography--font-light">Cây cảnh bỏ túi bonbon - 218/28 An Dương Vương, quận 8</p>
        <p class="mdl-typography--font-light">Điện thoại: 0946 779 296 - 0939 344 928</p>
        <p class="mdl-typography--font-light"><b>Small bud - Big tree</b></p>
      </div>

      <div class="mdl-mega-footer--bottom-section">
        <a class="android-link mdl-typography--font-light" href="/">
          Trang chủ
        </a>
        <a class="android-link mdl-typography--font-light" target="_blank" href="https://www.facebook.com/caycanhbotuibonbon/">Facebook</a>
      </div>
    </footer>
  </div>

</div>
