<div class="android-more-section carddemoInCardActions product-view" ng-cloak="">

  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs="" flex-gt-xs="66" layout="column" class="left-side-product-view">
      <md-card>
        <div class="card-view">
          <div class="modal-header">
            <h3 class="modal-title">Giỏ hàng của bạn</h3>
          </div>
          <div class="modal-body container-card">
            <div ng-if="vm.items.length === 0" class="card-no-item">
              <h4>Giỏ hàng của bạn hiện đang trống</h4>
              <p>Hãy nhanh tay sở hữu những sản phẩm yêu thích của bạn</p>
              <md-button class="md-raised md-primary" aria-label="mua hang" ng-click="vm.cancel()">
                Tiếp Tục mua hàng
                <i class="fa fa-hand-o-right"></i>
              </md-button>
            </div>
            <div ng-if="vm.items.length !== 0" class="card-had-item">
              <div class="list-group-cart-item">
                <ul class="list-group-cart-item-heading list-unstyled clearfix">
                  <li class="column-format cart-product"><span>sản phẩm</span></li>
                  <li class="column-format text-in-right cart-price"><span>đơn giá</span></li>
                  <li class="column-format text-in-right cart-count"><span>số lượng</span></li>
                  <li class="column-format text-in-right cart-prices"><span>thành tiền</span></li>
                </ul>
                <div>
                  <ul class="list-group-cart-item-body list-unstyled clearfix" ng-repeat="item in vm.items"
                      ng-class="{'line-separate-item': !$last}">
                    <li class="column-format cart-product">
                      <md-card class="detail-item-card">
                        <md-card-title class="remove-padding">
                          <md-card-title-media>
                            <div class="md-media-sm card-media">
                              <img ng-src="{{item.imagePath}}" class="md-card-image" alt="Washed Out">
                            </div>
                          </md-card-title-media>
                          <md-card-title-text>
                            <span class="md-headline">{{item.name}}</span>
                            <span class="md-subhead">one pieces</span>
                            <md-button class="md-warn button-remove-item" id="remove-margin-and-uppercase">
                              <i class="fa fa-trash-o"></i>
                              Bỏ sản phẩm
                            </md-button>
                          </md-card-title-text>
                        </md-card-title>
                      </md-card>
                    </li>
                    <li class="column-format text-in-right cart-price">
                      <span>{{item.price}}</span>
                    </li>
                    <li class="column-format text-in-right cart-count">
                      <input type="number" class="form-control max-width-100" ng-model="item.quantity">
                    </li>
                    <li class="column-format text-in-right cart-prices">
                      <span>{{item.price * item.quantity}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer cart-footer" ng-if="vm.items.length !== 0">
            <div class="pull-right">
              <p class="sum-money">
                <span>Thành tiền: </span>
                <span class="text-red-color">200000</span>
              </p>
              <md-button class="md-raised md-accent" aria-label="thanh toán">
                Tiến hành thanh toán
                <i class="fa fa-long-arrow-right"></i>
              </md-button>
            </div>
          </div>
        </div>
      </md-card>
    </div>
    <div flex-xs="" flex-gt-xs="33" layout="column" class="right-side-product-view">
      <md-card>
        <md-card-content>
          <md-card-title>
            <md-card-title-text class="margin-bottom-16">
              <p class="margin-bottom-16">
                <span>Thành tiền</span>
                <span class="text-red-color">200000</span>
              </p>
            </md-card-title-text>
          </md-card-title>
          <hr/>
          <md-card-actions layout="row" layout-align="start center">
            <md-button class="md-raised md-accent" aria-label="thanh toán">
              Tiến hành thanh toán
              <i class="fa fa-long-arrow-right"></i>
            </md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>
    </div>
  </md-content>

</div>