.cart-footer
  .sum-money
    font-weight bold
    font-size 1.5rem

.card-view
  .container-card
    .card-no-item
      display flex
      flex-direction column
      align-items center

    .list-group-cart-item
      .list-group-cart-item-heading
        background: #f7f7f7;
        font-size 12px
        text-transform uppercase
        margin-bottom 0
        width 100%
      .cart-product
        display block
        float left
        width 50%
      .cart-price
        display block
        float left
        width 15%
        font-weight bold
      .cart-count
        display block
        float left
        width 15%
        font-weight bold
      .cart-prices
        display block
        float left
        width 20%
        font-weight bold

      .column-format
        padding 8px 16px

      .text-in-right
        text-align right

      .list-group-cart-all-item-body
        max-height 200px
        overflow auto
      .line-separate-item
        border-bottom 1px dotted #cccccc
      .list-group-cart-item-body
        width 100%
        margin-top 8px
        margin-bottom 0
        .cart-product
          .detail-item-card
            box-shadow none
            .button-remove-item
              max-width 120px
        .cart-count
          padding 0 16px
