.cart-view .left-side-cart-view .list-group-cart-all-item-body {
  max-height: none !important;
}
.cart-view .right-side-cart-view .box-cal-money {
  position: relative;
}
.cart-view .right-side-cart-view .box-cal-money .text-vat {
  position: absolute;
  right: 0;
}
.cart-footer .sum-money {
  font-weight: bold;
  font-size: 1.5rem;
}
.card-view .container-card .card-no-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.card-view .container-card .list-group-cart-item .list-group-cart-item-heading {
  background: #f7f7f7;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 0;
  width: 100%;
}
.card-view .container-card .list-group-cart-item .cart-product {
  display: block;
  float: left;
  width: 50%;
}
.card-view .container-card .list-group-cart-item .cart-price {
  display: block;
  float: left;
  width: 15%;
  font-weight: bold;
}
.card-view .container-card .list-group-cart-item .cart-count {
  display: block;
  float: left;
  width: 15%;
  font-weight: bold;
}
.card-view .container-card .list-group-cart-item .cart-prices {
  display: block;
  float: left;
  width: 20%;
  font-weight: bold;
}
.card-view .container-card .list-group-cart-item .column-format {
  padding: 8px 16px;
}
.card-view .container-card .list-group-cart-item .text-in-right {
  text-align: right;
}
.card-view .container-card .list-group-cart-item .list-group-cart-all-item-body {
  max-height: 400px;
  overflow: auto;
}
.card-view .container-card .list-group-cart-item .line-separate-item {
  border-bottom: 1px dotted #ccc;
}
.card-view .container-card .list-group-cart-item .list-group-cart-item-body {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 0;
}
.card-view .container-card .list-group-cart-item .list-group-cart-item-body .cart-product .detail-item-card {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.card-view .container-card .list-group-cart-item .list-group-cart-item-body .cart-product .detail-item-card .button-remove-item {
  max-width: 120px;
  margin: 0;
  text-transform: none;
}
.card-view .container-card .list-group-cart-item .list-group-cart-item-body .cart-count {
  padding: 0 16px;
}
@media (max-width: 992px) {
  .card-view .container-card .list-group-cart-item .list-group-cart-item-body {
    position: relative;
  }
  .card-view .container-card .list-group-cart-item .list-group-cart-item-body .cart-product .detail-item-card .button-remove-item {
    margin-top: 24px;
  }
  .card-view .container-card .list-group-cart-item .list-group-cart-item-heading {
    display: none;
  }
  .card-view .container-card .list-group-cart-item .cart-product {
    display: block;
    float: none;
    width: auto;
  }
  .card-view .container-card .list-group-cart-item .cart-price {
    display: block;
    float: none;
    width: auto;
    font-weight: bold;
    position: absolute;
    left: 100px;
    bottom: 40px;
  }
  .card-view .container-card .list-group-cart-item .cart-count {
    display: block;
    float: none;
    width: auto;
    font-weight: normal;
    position: absolute;
    right: 16px;
    top: 32px;
  }
  .card-view .container-card .list-group-cart-item .cart-prices {
    display: block;
    float: none;
    width: auto;
    font-weight: bold;
    position: absolute;
    right: 35px;
    top: 70px;
  }
  .card-view .container-card .list-group-cart-item .column-format {
    padding: 0;
  }
  .card-view .container-card .list-group-cart-item .text-in-right {
    text-align: left;
  }
}
