<div spinner-loading="vm.cache.spinnerLoading">
  <md-content layout-padding>
    <form name="offlineSaleForm">
      <md-input-container class="md-block">
        <label>Họ tên khách hàng</label>
        <input md-maxlength="30" required name="name" ng-model="vm.cache.currentOfflineSale.nameCustomer">
        <div ng-messages="offlineSaleForm.name.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">This name has to be less than 30 characters long.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Số điện thoại</label>
        <input md-maxlength="15" required name="phone" ng-model="vm.cache.currentOfflineSale.phoneCustomer">
        <div ng-messages="offlineSaleForm.phone.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">Phone number has to be less than 15 characters long.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Địa chỉ giao hàng</label>
        <input required name="address" ng-model="vm.cache.currentOfflineSale.addressCustomer">
        <div ng-messages="offlineSaleForm.address.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Email</label>
        <input name="email" ng-model="vm.cache.currentOfflineSale.emailCustomer">
      </md-input-container>

      <div class="md-padding selectdemoSelectHeader" ng-cloak="">
        <div>
          <h1 class="md-title">Chọn sản phẩm được mua</h1>
          <div layout="row">
            <md-input-container>
              <label>Sản phẩm</label>
              <md-select ng-model="vm.cache.currentOfflineSale.productList" md-on-close="vm.clearSearchTerm()" md-on-open="vm.getProducts()" data-md-container-class="selectdemoSelectHeader" multiple="">
                <md-select-header class="demo-select-header">
                  <input ng-model="vm.searchTerm" type="search" placeholder="Tìm product.." class="demo-header-searchbox md-text">
                </md-select-header>
                <md-optgroup label="Sản phẩm">
                  <md-option ng-value="product" ng-repeat="product in vm.products |
              filter:vm.searchTerm">{{product.name}}</md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
          </div>
          <div>
            <div ng-repeat="p in vm.cache.currentOfflineSale.productList" class="row">
              <div class="col-md-3">
                <p ng-if="p.sale > 0">{{p.name}} - {{p.sale.formatMoney(0, '.', ',')}} (sau khi giảm giá)</p>
                <p ng-if="!(p.sale > 0)">{{p.name}} - {{p.price.formatMoney(0, '.', ',')}} (giá gốc)</p>
              </div>
              <div class="col-md-1">
                <p>x</p>
              </div>
              <div class="col-md-4">
                <number-spinner value="p.quantityWillBuy" config="{min: 0, max: 10}"></number-spinner>
              </div>
              <div class="col-md-4">
                <p ng-if="p.sale > 0">{{(p.sale * p.quantityWillBuy).formatMoney(0, '.', ',')}}</p>
                <p ng-if="!(p.sale > 0)">{{(p.price * p.quantityWillBuy).formatMoney(0, '.', ',')}}</p>
              </div>
              <hr/>
            </div>
            <div class="row form-group">
              <label class="col-sm-3 control-label">Phụ thu</label>

              <div class="col-sm-3">
                <input ng-model="vm.cache.currentOfflineSale.otherCost" class="form-control" format-currency="">
              </div>
            </div>
            <hr>
            <span ng-show="vm.cache.currentOfflineSale.productList.length > 0">Tổng thành tiền: {{vm.getSumMoney(vm.cache.currentOfflineSale.productList, vm.cache.currentOfflineSale.otherCost)}}</span>
          </div>
        </div>
      </div>
    </form>

    <div class="pull-right">
      <md-button class="md-raised md-primary" ng-disabled="!offlineSaleForm.$valid"
                 ng-click="vm.addOfflineSale(vm.cache.currentOfflineSale)"
                 ng-if="vm.cache.currentView.name === 'add'"
      >
        Add
      </md-button>
      <md-button class="md-raised md-primary" ng-disabled="!offlineSaleForm.$valid"
                 ng-click="vm.updateOfflineSale(vm.cache.currentOfflineSale)"
                 ng-if="vm.cache.currentView.name === 'edit'"
      >
        Update
      </md-button>
      <md-button class="md-raised" ng-click="vm.backToListOrderView()">Cancer</md-button>
    </div>
  </md-content>
</div>
