<div>
  <md-content layout-padding>
    <form name="actionCategoryForm">
      <md-input-container class="md-block">
        <label>Name</label>
        <input md-maxlength="30" required name="name" ng-model="vm.cache.currentCategory.name">
        <div ng-messages="actionCategoryForm.name.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Description</label>
        <textarea ng-model="vm.cache.currentCategory.description" md-select-on-focus></textarea>
      </md-input-container>
    </form>
    <div class="pull-right">
      <md-button class="md-raised md-primary" ng-disabled="!actionCategoryForm.$valid"
                 ng-click="vm.addCategory(vm.cache.currentCategory)"
                 ng-if="vm.cache.currentView.name === 'add'"
        >
        Add
      </md-button>
      <md-button class="md-raised md-primary" ng-disabled="!actionCategoryForm.$valid"
                 ng-click="vm.updateCategory(vm.cache.currentCategory)"
                 ng-if="vm.cache.currentView.name === 'edit'"
        >
        Update
      </md-button>
      <md-button class="md-raised" ng-click="vm.backToTableView()">Cancer</md-button>
    </div>
  </md-content>
</div>
