<div class="product-manager-view">
  <div class="action-button">
    <md-button class="md-primary" ng-click="vm.goToAddCategoryView()">Add Product</md-button>
    <md-button class="md-primary" ng-click="vm.goToEditCategoryView()" ng-disabled="vm.selectedCategory.length !== 1">Edit</md-button>
  </div>
  <div class="table-content">
    <mdt-table table-card="{visible: true, title: 'Products'}"

               selectable-rows="true"
               alternate-headers="'contextual'"

               selected-row-callback="vm.selectedRowCallback(rows)"
               sortable-columns="true"
               paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}"
               mdt-row-paginator="vm.paginatorCallback(page, pageSize)"
               mdt-row-paginator-error-message="Error happened during loading category list."

               delete-function="vm.selectedRowCallback(rows)"

               mdt-row="{
                'table-row-id-key': 'fields.id',
                'column-keys': [
                  'fields.name',
                  'fields.description',
                ],
              }"
      >
      <mdt-header-row>
        <mdt-column align-rule="left">Name</mdt-column>
        <mdt-column align-rule="left">Description</mdt-column>
      </mdt-header-row>
    </mdt-table>
  </div>
</div>
{{vm.dataList[1]}}
