<div spinner-loading="vm.cache.spinnerLoading" class="product-manager-view">
  <h2>
    <span>Event</span>
  </h2>
  <div class="action-button">
    <md-button class="md-primary" ng-click="vm.goToAddEventView()">Add</md-button>
  </div>
  <div class="table-content">
    <md-list>
      <md-list-item ng-repeat="event in vm.eventList" ng-click="vm.showDialogDetail(event, $event)" class="noright">
        <img alt="{{ event.name }}" ng-src="{{ event.imageUrl }}" class="md-avatar" />
        <p>{{ event.name }}</p>
        <md-checkbox class="md-secondary" ng-model="event.selected"></md-checkbox>

        <md-icon ng-click="vm.goToEditEventView(event)" aria-label="Edit Event" class="md-secondary md-hue-3" >
          <i class="fa fa-pencil-square-o md-secondary md-hue-3" aria-hidden="true"></i>
        </md-icon>
        <md-icon class="md-secondary" ng-click="vm.deleteRowCallback(event, $event)" aria-label="Delete Event">
          <i class="fa fa-trash-o md-secondary" aria-hidden="true"></i>
        </md-icon>
      </md-list-item>
    </md-list>
  </div>
</div>

