<div spinner-loading="vm.cache.spinnerLoading" class="product-manager-view">
  <h2>
    <span>Event</span>
  </h2>
  <div class="action-button">
    <md-button class="md-primary" ng-click="vm.goToAddEventView()">Add</md-button>
  </div>
  <div class="table-content">
    <md-list>
      <md-list-item ng-repeat="event in vm.eventList track by event.id" class="noright">
        <img alt="{{ event.name }}" ng-src="{{ event.imageUrl }}" class="md-avatar" />
        <p>{{ event.name }}</p>
        <!--<md-checkbox class="md-secondary" ng-model="event.selected"></md-checkbox>-->

        <md-button class="md-icon-button font-size-20" ng-click="vm.goToEditEventView(event)" aria-label="Edit Event">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </md-button>

        <md-button class="md-icon-button font-size-20" ng-click="vm.assignToProduct(event, $event)" aria-label="assign Event">
          <i class="fa fa-link" aria-hidden="true"></i>
        </md-button>

        <md-button class="md-icon-button font-size-20" ng-click="vm.deleteRowCallback(event, $event)" aria-label="Delete Event">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </md-button>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </div>
</div>

