<div class="card-view">
  <div class="modal-header">
    <h3 class="modal-title">Đăng nhập</h3>
    <div class="pull-right">
      <span>Bạn chưa có tài khoản? <a href ng-click="vm.goToRegister()">Đăng ký</a></span>
    </div>
  </div>
  <div class="modal-body">
    <md-content layout-padding>
      <form name="loginForm">
        <md-input-container class="md-block">
          <label>Nhập email</label>
          <input required name="email" ng-model="vm.user.email">
          <div ng-messages="loginForm.email.$error">
            <div ng-message="required">Vui lòng nhập vào email.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Nhập mật khẩu</label>
          <input required name="password" ng-model="vm.user.password" type="password">
          <div ng-messages="loginForm.password.$error">
            <div ng-message="required">Vui lòng nhập mật khẩu</div>
          </div>
        </md-input-container>
        <md-input-container layout-align="center center" style="width: 100%; text-align: center">
          <span class="text-danger">{{vm.msgError}}</span>
          <div>
            <button class="btn btn-primary" style="width: 100%" type="submit" ng-disabled="!(vm.user.email && vm.user.password) || vm.loading"
                    ng-click="vm.login(vm.user)"
                    button-spinner="vm.loading"
                    id="login-button-app-bon-bon">
              <i class="fa fa-sign-in"></i> Đăng nhập
            </button>
          </div>
        </md-input-container>
      </form>
      <button class="btn btn-primary" ng-click="vm.loginByFacebook()"
              ng-disabled="loginStatus.status == 'connected'" style="width: 100%" >
        Đăng nhập bằng Facebook
      </button>

    </md-content>
  </div>
</div>
