<div class="android-more-section carddemoInCardActions order-view" ng-cloak="">
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs="" flex-gt-xs="66" layout="column" class="left-side-order-view">
      <md-radio-group ng-model="vm.cache.typeBuyer">
        <md-radio-button value="strange" class="md-primary">Khách hàng vãng lai</md-radio-button>
        <md-radio-button value="member" class="md-primary">Thành viên</md-radio-button>
      </md-radio-group>
      <hr/>
      <div ng-if="vm.cache.typeBuyer === 'member'" ng-include="'app/appUser/order/templateUrl/affirmation.step1.html'"></div>
      <div ng-if="vm.cache.typeBuyer === 'strange'" ng-include="vm.cache.currentLayout"></div>

    </div>

    <div flex-xs="" flex-gt-xs="33" class="right-side-order-view">
      <md-card>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-primary" ng-click="vm.goToCart()">Sửa</md-button>
        </md-card-actions>
        <md-card-content>
          <md-card-title layout="column">
            <md-card-title-text class="margin-bottom-16 information-item">
              <div class="margin-bottom-16 detail-item" ng-repeat="item in vm.yourProducts">
                <p class="price-and-name-item">{{item.quantityWillBuy}} x {{item.name}}</p>

                <p class="total-price-item">{{(item.quantityWillBuy * item.sale || item.price).formatMoney(0, '.', ',')}}</p>
              </div>
            </md-card-title-text>
            <md-card-title-text class="margin-bottom-16 total-cost">
              <p class="margin-bottom-16">
                <span class="text"><b>Thành tiền</b></span>
                <span class="text-red-color pull-right sum-money"><b>{{vm.moneyMustPay.formatMoney(0, '.', ',')}}</b></span>
              </p>
            </md-card-title-text>
          </md-card-title>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-content>
          <md-card-title>
            <md-card-title-text class="margin-bottom-16 box-cal-money">
              <p class="margin-bottom-16">
                Phí giao hàng tuỳ khu vực...
                Thông thường 15.000 ~ 20.000VNĐ trong nội thành tpHCM.
                <i>Miễn phí giao hàng trong nội thành tpHCM với hoá đơn > 100.000VNĐ.</i>
              </p>
            </md-card-title-text>
          </md-card-title>
        </md-card-content>
      </md-card>
    </div>
  </md-content>
</div>
