.order-view

  .left-side-order-view
    .content-is-member
      .box-content
        width 100%

  .right-side-order-view
    .information-item
      .detail-item
        font-size: 11px
        border-bottom: 1px solid #c9c9c9;
        .price-and-name-item
          float: left
        .total-price-item
          float: right

      .total-cost
        .text
          font-size: 12px
        .sum-money
          font-size: 18px
          float: right