.widget-text-box {
  padding-bottom: 75px;
  position: relative;
}
.widget-text-box .bottom-widget-text {
  position: absolute;
  bottom: 0;
  padding: 16px;
  margin: auto;
}
.widget-text-box .bottom-widget-text .name-widget {
  font-size: 1rem;
  font-weight: bold;
}
.widget-text-box .bottom-widget-text .cost-widget {
  font-size: 1rem;
  font-weight: bold;
  color: #f00;
}
