.widget-text-box
  padding-bottom 75px
  position relative
  .bottom-widget-text
    position absolute
    bottom 0
    padding 16px
    margin auto
    .name-widget
      font-size 1rem
      font-weight bold
    .cost-widget
      font-size 1rem
      font-weight bold
      color red
