<div>
  <div>
    <my-alert type="vm.cache.alert.type"
              show="vm.cache.alert.show"
              msg="vm.cache.alert.msg"
      ></my-alert>
  </div>

  <div spinner-loading="vm.cache.spinnerLoading" class="product-manager-view">
    <h2>
      <span>Order</span>
    </h2>
    <div class="action-button">
      <md-button class="md-primary" ng-click="vm.goToAddEventView()">Add</md-button>
    </div>
    <div class="table-content">
      <md-list>
        <md-list-item ng-repeat="order in vm.orderList" ng-click="vm.showDialogDetail(order, $event)" class="noright">
          <div class="md-list-item-text" layout="column" ng-if="order.user">
            <h3>{{ order.user.name }}</h3>
            <h4>{{ order.sumMoney }}</h4>
            <p>{{ order.phoneCustomer }}</p>
          </div>
          <div class="md-list-item-text" layout="column" ng-if="!order.user">
            <h3>{{ order.nameCustomer }}</h3>
            <h4>{{order.sumMoney}}</h4>
            <p>{{ order.phoneCustomer }}</p>
          </div>

          <md-icon ng-click="vm.goToEditEventView(order)" aria-label="Edit Order" class="md-secondary md-hue-3" >
            <i class="fa fa-pencil-square-o md-secondary md-hue-3" aria-hidden="true"></i>
          </md-icon>
          <md-icon class="md-secondary" ng-click="vm.assignToProduct(order, $event)" aria-label="Delete Order">
            <i class="fa fa-link" aria-hidden="true"></i>
          </md-icon>
          <md-icon class="md-secondary" ng-click="vm.deleteRowCallback(order, $event)" aria-label="Delete Order">
            <i class="fa fa-trash-o md-secondary" aria-hidden="true"></i>
          </md-icon>
        </md-list-item>
      </md-list>
    </div>
  </div>
</div>