.header-name-box {
  display: block;
  background-color: #fafafa;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 38px;
}
.header-name-box .arrow {
  position: relative;
  float: left;
  background-color: #00b7f1;
  height: 36px;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
}
.header-name-box .arrow:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 18px solid transparent;
  border-left: 13px solid #00b7f1;
  border-right: 0 solid transparent;
  border-bottom: 18px solid transparent;
  position: absolute;
  top: 0;
  right: -13px;
}
.header-name-box .name {
  float: right;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
}
.demo-card-image.mdl-card {
  width: 200px;
  height: 200px;
  background: url("http://www.getmdl.io/assets/demos/image_card.jpg") center/cover;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0,0,0,0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.demo-card-event.mdl-card {
  width: 256px;
  height: 256px;
  background: #3e4eb8;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255,255,255,0.2);
}
.demo-card-event > .mdl-card__title {
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}
#owl-demo .item {
  background: #3fbf79;
  padding: 30px 0px;
  margin: 10px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation {
  text-align: center;
}
.customNavigation a {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
