<md-card>
  <md-card-content spinner-loading="vm.cache.spinnerLoading" ng-if="vm.cache.typeBuyer === 'member' && !$root.currentUser" class="content-is-member">
    <my-alert type="vm.cache.alert.type"
              show="vm.cache.alert.show"
              msg="vm.cache.alert.msg"
    ></my-alert>
    <form ng-submit="vm.loginAccount(vm.user)" name="loginForm" layout="column" class="md-padding box-content">
      <md-input-container>
        <label>Email</label>
        <input name="email" ng-model="vm.user.email" required/>
        <div ng-messages="loginForm.email.$error" ng-if='loginForm.email.$dirty'>
          <div ng-message="required">Vui lòng nhập vào email.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input name="password" type="password" ng-model="vm.user.password" required/>
        <div ng-messages="loginForm.password.$error" ng-if='loginForm.password.$dirty'>
          <div ng-message="required">Vui lòng nhập mật khẩu.</div>
        </div>
      </md-input-container>
      <md-button type="submit" class="md-raised md-primary"
                 ng-disabled="!loginForm.$valid">Đăng nhập</md-button>
    </form>
  </md-card-content>

  <md-card-content spinner-loading="vm.cache.spinnerLoading" ng-if="vm.cache.typeBuyer === 'member' && $root.currentUser"
                   class="content-is-member">
    <div class="panel-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-md-4 control-label">Họ tên</label>

          <div class="col-md-8">
            <p class="form-control-static">{{$root.currentUser.user.name}}</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Số điện thoại</label>

          <div class="col-md-8">
            <p class="form-control-static">{{$root.currentUser.user.phoneNumber}}</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Email</label>

          <div class="col-md-8">
            <p class="form-control-static">{{$root.currentUser.user.email}}</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Địa chỉ giao hàng</label>

          <div class="col-md-8">
            <p class="form-control-static">{{$root.currentUser.user.address}}</p>
          </div>
        </div>
      </div>
    </div>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-primary"
                 ng-click="vm.confirmOrder($event)">Đặt hàng
      </md-button>
    </md-card-actions>
  </md-card-content>

  <md-card-content ng-if="vm.cache.typeBuyer === 'strange'">
    <form name="informationBuyerForm">
      <md-input-container class="md-block">
        <label>Nhập họ tên</label>
        <input required name="nameCustomer" ng-model="vm.buyer.nameCustomer">

        <div ng-messages="informationBuyerForm.nameCustomer.$error">
          <div ng-message="required">Bạn phải nhập họ tên.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Nhập số điện thoại</label>
        <input required name="numberPhone" ng-model="vm.buyer.phoneCustomer">

        <div ng-messages="informationBuyerForm.numberPhone.$error">
          <div ng-message="required">Bạn phải nhập số điện thoại.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Nhập email</label>
        <input type="email" name="emailCustomer" ng-model="vm.buyer.emailCustomer" ng-pattern="/^.+@.+\..+$/">

        <div ng-messages="informationBuyerForm.emailCustomer.$error">
          <div ng-message-exp="['pattern']">
            Bạn phải nhập đúng email.
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Nhập địa chỉ giao hàng</label>
        <textarea required name="addressCustomer" ng-model="vm.buyer.addressCustomer"></textarea>

        <div ng-messages="informationBuyerForm.addressCustomer.$error">
          <div ng-message="required">Bạn phải nhập địa chỉ.</div>
        </div>
      </md-input-container>
    </form>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-primary" ng-disabled="!informationBuyerForm.$valid"
                 ng-click="vm.changeLayoutToShowInfoOrder()">Xác nhận đơn hàng</md-button>
    </md-card-actions>
  </md-card-content>
</md-card>
