<md-dialog aria-label="Mango (Fruit)"  ng-cloak  spinner-loading="spinnerLoading">
  <form>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>{{title}}</h2>
        <p>
          {{content}}
        </p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-if="success" class="md-button md-primary" ng-click="goToHome()">
        Quay về trang chủ
      </md-button>
      <md-button ng-if="!success" class="md-button md-primary" ng-click="actionFail()">
        Ok
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>